*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


@media only screen and (max-width: 899px){
    .banner-card img{
        width: 100%;
        height: 400px;
    }

}

@media only screen and (min-width: 2500px){
    .banner-card img{
        width: 100%;
        height: 1200px;
    }
}

.banner-text{
    text-align: center;
    color:black;
    padding: 20px;
    font-family: 'Antonio';
}

.banner-text h1{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
}

.banner-text p {
    font-size: 20px;
    padding-top: 10px;
}

.infobox{
    padding: 20px;
    font-weight: 500;
    text-align: center;
    border: 3px solid rgb(220, 13, 13);
    font-family: 'Tisa Sans Pro', sans-serif;
    margin: 20px;
}
