.page{
    display: flex;
    background-color: black;
    float: center;
    padding: 20px;
    margin: 20px;
    margin-top: 100px;
    width: 400px;
    align-content: center;
}

.form{
    margin: 10px;
    background-color: white;
    padding: 10px;
    border: solid 4px black;
    border-radius: 5px;
    width: 100%;
}
.form h2{
    font-size: 30px;
    font-family: 'Antonio';
    font-weight: 200;
    text-align: left;
    float: left;
    margin-left: 20px;
    padding: 20px;
}
.info-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 15px;
}

.info-box label{
    font-size: 20px;
    font-family: 'Antonio';
    font-weight: 400px;
    margin: 5px;
}

.info-box input{
    font-family: 'Antonio';
    width: 250px;
    height: 40px;
    border-radius: 7px;
    border: solid 3px black;
    padding: 0 10px; 
}

.submit input{
    display: block;
    width: 120px;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: solid 3px black;
    border-radius: 3px;
    font-family: 'Antonio';
    cursor: pointer;
}

