.otsikko{
    padding:20px;
    margin: 0;
    font-family: 'Antonio';
    font-size: 40px;
    text-decoration: underline;
}

h1{
    padding-left: 20px; 
    padding-bottom: 10px;
    margin: 10px;
    font-family: 'Antonio';
    text-decoration: underline;
}

h2{
    padding-left: 20px; 
    padding-bottom: 10px;
    margin: 10px;
    font-family: 'Antonio';   
}

p{
    padding-left: 20px; 
    margin: 10px;
    font-weight: 600px;
    font-family: 'Tisa Sans Pro', sans-serif;
}
